body {
  background: #f3f6ff;
}
.ContestPreview {
  margin: 1em;
  border: 1px solid #abc0fd;

  .category-name {
    border-bottom: 1px solid #ccc;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    background: #cad7fd;
  }

  .contest-name {
    padding: 0.5rem;
  }
}
